<div class="bg-kl-bg grid grid-cols-3 gap-15 rounded-sm p-3 shadow-lg">
  <div class="font-headline flex space-x-2 text-2xl font-bold">
    <h2>Kay</h2>
    <h2 class="text-kl-red-light">Liguey</h2>
  </div>
  <div>
    <ul class="flex items-center justify-between">
      <li>
        <a
          routerLink="/public/home"
          routerLinkActive="text-kl-red-light border-kl-red-light"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          >Accueil</a
        >
      </li>
      <li>
        <a
          routerLink="/public/offres"
          routerLinkActive="text-kl-red-light border-kl-red-light"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          >Offres</a
        >
      </li>

      <li>
        <a
          routerLink="/public/service"
          routerLinkActive="text-kl-red-light border-kl-red-light"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          >Nos Service</a
        >
      </li>
      <li>
        <a
          routerLink="/public/blog"
          routerLinkActive="text-kl-red-light border-kl-red-light"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          >Blog</a
        >
      </li>
      <li>
        <a
          routerLink="/public/contact"
          routerLinkActive="text-kl-red-light border-kl-red-light"
          [routerLinkActiveOptions]="{ exact: true }"
          >Contact</a
        >
      </li>
    </ul>
  </div>
  <div
    class="font-headline flex flex-row-reverse gap-2.5 text-center font-semibold"
  >
    <app-button variant="primary" routerLink="/register">
      S'incrire
    </app-button>

    <app-button variant="outline" routerLink="/login">
      Se connecter
    </app-button>
  </div>
</div>
