<div
  class="flex w-full flex-col p-4 md:grid md:grid-cols-3 md:items-center shadow-xl"
>
  <!-- LEFT -->
  <div class="flex items-center justify-between">
    <div class="text-kl-text hidden text-3xl font-bold md:block md:flex-col">
      <h2>Kay</h2>
      <h2 class="text-kl-red-light">Liguey</h2>
    </div>

    <div class="md:hidden">
      <span (click)="open()" class="cursor-pointer" [class.hidden]="isOpenMenu"
        >☰</span
      >

      <span
        (click)="close()"
        class="cursor-pointer"
        [class.hidden]="!isOpenMenu"
        >❌</span
      >
    </div>
  </div>

  <!-- NAV -->
  <nav class="mt-4 md:mt-0 md:block" [class.hidden]="!isOpen && true">
    <ul class="flex flex-col space-y-3 md:flex-row md:justify-start md:gap-5">
      <li>
        <a
          routerLink="/public/home"
          routerLinkActive="text-kl-red-light border-kl-red-light"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          >Accueil</a
        >
      </li>
      <li>
        <a
          routerLink="/public/offres"
          routerLinkActive="text-kl-red-light border-kl-red-light"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          >Offres</a
        >
      </li>

      <li>
        <a
          routerLink="/public/service"
          routerLinkActive="text-kl-red-light border-kl-red-light "
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          >Services</a
        >
      </li>
      <li>
        <a
          routerLink="/public/blog"
          routerLinkActive="text-kl-red-light border-kl-red-light"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
          >Blog</a
        >
      </li>
      <li>
        <a
          routerLink="/public/contact"
          routerLinkActive="text-kl-red-light border-kl-red-light"
          [routerLinkActiveOptions]="{ exact: true }"
          >Contact</a
        >
      </li>
    </ul>
  </nav>

  <!-- BUTTONS -->
  <div class="mt-4 md:mt-0 md:block" [class.hidden]="!isOpen && true">
    <div
      class="font-headline flex gap-4 text-center font-semibold md:justify-end"
    >
      <app-button variant="primary" routerLink="/register"
        >S'incrire</app-button
      >

      <app-button variant="outline" routerLink="/login"
        >Se connecter</app-button
      >
    </div>
  </div>
</div>
