<div class="bg-kl-bg grid grid-cols-3 gap-15 rounded-sm p-3 shadow-lg">
  <div class="font-headline flex space-x-2 text-2xl font-bold">
    <h2>Kay</h2>
    <h2 class="text-kl-red-light">Liguey</h2>
  </div>
  <div>
    <ul class="flex items-center justify-between">
      <li>
        <a
          routerLink="/public/home"
          [routerLinkActive]="isActive()"
          [routerLinkActiveOptions]="{ exact: true }"
          class="text-kl-muted font-headline hover:border-kl-red-light hover:text-kl-red-light border-b-2 border-transparent p-1 font-semibold transition duration-150 ease-in-out hover:scale-105"
          >Accueil</a
        >
      </li>
      <li>
        <a
          routerLink="/public/offres"
          [routerLinkActive]="isActive()"
          [routerLinkActiveOptions]="{ exact: true }"
          class="text-kl-muted font-headline hover:border-kl-red-light hover:text-kl-red-light border-b-2 border-transparent p-1 font-semibold transition duration-150 ease-in-out hover:scale-105"
          >Offres</a
        >
      </li>

      <li>
        <a
          routerLink="/public/service"
          [routerLinkActive]="isActive()"
          [routerLinkActiveOptions]="{ exact: true }"
          class="text-kl-muted font-headline hover:border-kl-red-light hover:text-kl-red-light border-b-2 border-transparent p-1 font-semibold transition duration-150 ease-in-out hover:scale-105"
          >Nos Service</a
        >
      </li>
      <li>
        <a
          routerLink="/public/blog"
          [routerLinkActive]="isActive()"
          [routerLinkActiveOptions]="{ exact: true }"
          class="text-kl-muted font-headline hover:border-kl-red-light hover:text-kl-red-light border-b-2 border-transparent p-1 font-semibold transition duration-150 ease-in-out hover:scale-105"
          >Blog</a
        >
      </li>
      <li>
        <a
          routerLink="/public/contact"
          [routerLinkActive]="isActive()"
          [routerLinkActiveOptions]="{ exact: true }"
          class="text-kl-muted font-headline hover:border-kl-red-light hover:text-kl-red-light border-b-2 border-transparent p-1 font-semibold transition duration-150 ease-in-out hover:scale-105"
          >Contact</a
        >
      </li>
    </ul>
  </div>
  <div
    class="font-headline flex flex-row-reverse gap-2.5 text-center font-semibold"
  >
    <app-login-button variant="primary" routerLink="/register">
      S'incrire
    </app-login-button>
    <!-- <a
      routerLink="/register"
      class="bg-kl-primary-red border-kl-primary-red text-kl-surface hover:bg-kl-red-btn-hover hover:text-kl-text focus:ring-kl-primary-red min-w-28 flex-none rounded-sm border px-4 py-2 transition duration-150 ease-in-out hover:shadow-md focus:ring-2 focus:ring-offset-2 focus:outline-none active:scale-95"
    ></a> -->

    <app-login-button variant="outline" routerLink="/login">
      Se connecter
    </app-login-button>
  </div>
</div>
