@if (!isLoading()) {
  <!-- <pre>{{ jobOffers() | json }}</pre> -->
  <!--Main CONTANER-->
  <section class="flex w-full flex-col gap-4 p-3 md:p-5 md:py-10">
    <!-- HEADER -->
    <div class="flex w-full flex-col gap-4 md:max-w-lg">
      <div class="flex flex-col">
        <h1>Découvrez votre prochaine</h1>
        <h1 class="text-kl-primary-red">opportunité</h1>
      </div>

      <p>
        Rejoignez l'élite du marché du travail au Sénégal. Nous connectons les
        talents d'exception avec les entreprises qui façonnent l'avenir de notre
        pays.
      </p>
    </div>

    <!-- SEACRH BAR  -->

    <!-- FILTER -->
    <div class="grid md:grid-cols-6 bg-kl-zinc-100 gap-10">
      <!-- ================= FILTER ================= -->
      <aside class="md:sticky md:top-20 h-fit">
        <div class="space-y-6 rounded-md bg-white p-5 shadow-sm">
          <!-- HEADER -->
          <div class="flex items-center justify-between">
            <h3 class="font-semibold">Filtres</h3>
            <button type="button" class="text-sm font-bold text-kl-primary-red">
              Réinitialiser
            </button>
          </div>

          <!-- LOCALISATION -->
          <div class="space-y-3">
            <h4 class="text-sm font-semibold uppercase">Localisation</h4>

            <label class="flex items-center gap-2 cursor-pointer">
              <input type="checkbox" class="accent-kl-primary-red" />
              <span>Dakar</span>
            </label>

            <label class="flex items-center gap-2 cursor-pointer">
              <input type="checkbox" class="accent-kl-primary-red" />
              <span>Thiès</span>
            </label>

            <label class="flex items-center gap-2 cursor-pointer">
              <input type="checkbox" class="accent-kl-primary-red" />
              <span>Saint-Louis</span>
            </label>

            <select
              aria-label="Region"
              class="w-full rounded-md border border-kl-border bg-bg-input p-2 text-sm focus:border-kl-active outline-none"
            >
              <option>Toutes les régions</option>
              <option>Dakar</option>
              <option>Thiès</option>
            </select>
          </div>

          <!-- CONTRAT -->
          <div class="space-y-3">
            <h4 class="text-sm font-semibold uppercase">Type de contrat</h4>

            <div class="flex flex-wrap gap-2">
              <label class="cursor-pointer">
                <input type="radio" name="contract" class="hidden peer" />
                <span class="chip">CDI</span>
              </label>

              <label class="cursor-pointer">
                <input type="radio" name="contract" class="hidden peer" />
                <span class="chip">CDD</span>
              </label>

              <label class="cursor-pointer">
                <input type="radio" name="contract" class="hidden peer" />
                <span class="chip">Freelance</span>
              </label>
            </div>
          </div>

          <!-- EXPERIENCE -->
          <div class="space-y-2">
            <h4 class="text-sm font-semibold uppercase">Expérience</h4>

            <select
              aria-label="Niveau d'experience"
              class="w-full rounded-md border border-kl-border bg-bg-input p-2 text-sm focus:border-kl-active outline-none"
            >
              <option>Tous niveaux</option>
              <option>Junior</option>
              <option>Senior</option>
            </select>
          </div>
        </div>
      </aside>

      <!-- JOBG LISTS -->
      <div class="col-span-5 sm:grid-cols-2 grid md:grid-cols-3 gap-5">
        <!-- JOB CARD -->
        @for (job of jobOffers(); track $index) {
          <!-- JOB CARD -->
          <div class="bg-kl-job-card p-5">
            <!-- HEADER -->
            <div class="flex items-start justify-between">
              <div class="flex gap-3">
                <div class="p-7 rounded-md bg-gray-300"></div>

                <div>
                  <h3 class="font-semibold kl-text">UX/UI Designer</h3>
                  <p class="text-sm">Dakar • Publiée le 16 avr. 2026</p>
                </div>
              </div>

              <!-- BADGES -->
              <div class="flex gap-2">
                <app-badge color="red-500"> CDI</app-badge>
                <app-badge color="red-500"> Freelance</app-badge>
              </div>
            </div>

            <!-- DESCRIPTION -->
            <div>
              <p class="card-content">
                Rejoignez l'élite du marché du travail au Sénégal. Nous
                connectons les talents d'exception
              </p>
            </div>

            <!-- STATS -->
            <div class="flex flex-row justify-around gap-5">
              <div class="flex flex-col bg-red-300 rounded-lg px-2 w-full">
                <p class="font-semibold text-kl-muted text-lg">Salaire</p>
                <span class="font-semibold text-kl-text text-lg"
                  >100k-200k</span
                >
              </div>
              <div class="flex flex-col bg-red-300 rounded-lg px-2 w-full">
                <p class="font-semibold text-kl-muted text-lg">Vue</p>
                <span class="font-semibold text-kl-text text-lg">30</span>
              </div>
              <div class="flex flex-col bg-red-300 rounded-lg px-2 w-full">
                <p class="font-semibold text-kl-muted text-lg">Candidatures</p>
                <span class="font-semibold text-kl-text text-lg">80</span>
              </div>
            </div>

            <!-- Card Footer -->
            <hr />
            <div class="flex flex-row justify-between">
              <p>Orange Senegal</p>
              <app-button variant="primary"> Voir l'offre</app-button>
            </div>
          </div>
        }
      </div>

      <!-- END CARD -->
    </div>
  </section>
} @else {
  <app-loader>
    <mat-spinner></mat-spinner>
  </app-loader>
}
"
