@if (!isLoading()) {
  <section class="px-5 flex w-full flex-col gap-6 p-4 md:p-6 md:py-10">
    <!-- HEADER -->
    <div class="flex w-full flex-col gap-4 md:max-w-lg">
      <div class="flex flex-col">
        <h1 class="text-2xl md:text-4xl font-bold">
          Découvrez votre prochaine
        </h1>
        <h1 class="text-2xl md:text-4xl font-bold text-kl-primary-red">
          opportunité
        </h1>
      </div>

      <p>
        Rejoignez l'élite du marché du travail au Sénégal. Nous connectons les
        talents d'exception avec les entreprises qui façonnent l'avenir de notre
        pays.
      </p>
    </div>

    <!-- MAIN GRID -->
    <div class="grid gap-8 md:grid-cols-6 bg-kl-zinc-100 md:p-7 rounded-lg">
      <!-- ================= FILTER ================= -->
      <aside class="md:col-span-1 md:sticky md:top-20 h-fit">
        <div class="space-y-6 rounded-xl bg-white p-5 shadow-sm border">
          <div class="flex items-center justify-between">
            <h3 class="font-semibold">Filtres</h3>
            <button class="text-sm font-bold text-kl-primary-red">Reset</button>
          </div>

          <!-- LOCALISATION -->
          <div class="space-y-3">
            <h4 class="text-xs font-semibold uppercase text-kl-muted">
              Localisation
            </h4>

            <label class="flex items-center gap-2 cursor-pointer">
              <input type="checkbox" class="accent-kl-primary-red" />
              <span>Dakar</span>
            </label>

            <label class="flex items-center gap-2 cursor-pointer">
              <input type="checkbox" class="accent-kl-primary-red" />
              <span>Thiès</span>
            </label>
          </div>

          <!-- CONTRAT -->
          <div class="space-y-3">
            <h4 class="text-xs font-semibold uppercase text-kl-muted">
              Type de contrat
            </h4>

            <div class="flex flex-wrap gap-2">
              <span class="chip">CDI</span>
              <span class="chip">CDD</span>
              <span class="chip">Freelance</span>
              <span class="chip">Stage</span>
              <span class="chip">Alternace</span>
            </div>
          </div>

          <!-- Working mode  -->
          <div class="space-y-3">
            <h4 class="text-xs font-semibold uppercase text-kl-muted">
              Type de contrat
            </h4>

            <div class="flex flex-wrap gap-2">
              <label class="cursor-pointer">
                <span class="chip">Hybrid</span>
                <input type="radio" name="working" class="hidden peer" />
              </label>
              <label class="cursor-pointer">
                <span class="chip">Remote</span>
                <input type="radio" name="working" class="hidden peer" />
              </label>
              <label class="cursor-pointer">
                <span class="chip">Presentiel</span>
                <input type="radio" name="working" class="hidden peer" />
              </label>
            </div>
          </div>

          <!-- EXPERIENCE -->
          <div>
            <label>
              Niveau D'etudes
              <select aria-label="experience">
                <option>Tout les exp</option>
                <option>BAC+3</option>
                <option>BAC+5</option>
                <option>BAC+2</option>
              </select>
            </label>
          </div>

          <div>
            <label>
              Expérience
              <select aria-label="experience">
                <option>Tout les exp</option>
                <option>Debutant</option>
                <option>3ans</option>
                <option>5ans</option>
                <option>+10ans</option>
              </select>
            </label>
          </div>
        </div>
      </aside>

      <!-- ================= JOB LIST ================= -->
      <div class="md:col-span-5 space-y-6 md:grid md:grid-cols-2 gap-5">
        @for (job of jobOffers(); track $index) {
          <!-- JOB CARD -->
          <div
            class="group w-full rounded-xl border border-transparent hover:border-red-500 bg-white p-6 shadow-sm transition-all duration-300 hover:shadow-md hover:-translate-y-1"
          >
            <!-- HEADER -->
            <div class="flex items-start justify-between gap-4">
              <div class="flex gap-4">
                <!-- LOGO -->
                <div class="h-12 w-12 rounded-md bg-gray-200"></div>

                <!-- TITLE -->
                <div>
                  <h3
                    class="font-semibold text-lg text-kl-text group-hover:text-kl-primary-red transition"
                  >
                    {{ job.title }}
                  </h3>

                  <p class="text-sm text-kl-muted">{{ job.city }}</p>
                </div>
              </div>

              <!-- BADGES -->
              <div class="flex gap-2 flex-wrap">
                <app-badge
                  [label]="working_mode[job.working_mode].label"
                  [customClass]="working_mode[job.working_mode].class"
                />
                <app-badge
                  [label]="contract_type[job.contract_type].label"
                  [customClass]="contract_type[job.contract_type].class"
                />
              </div>
            </div>

            <!-- DESCRIPTION -->
            <p class="card-content">
              {{ job.description }}
            </p>

            <!-- STATS -->
            <div class="mt-5 grid grid-cols-3 gap-4 text-sm justify-between">
              <div
                class="flex flex-col p-2 px-3 rounded-lg bg-[#2525000a] border border-transparent group-hover:border-red-500"
              >
                <span class="text-kl-muted text-lg">Salaire</span>
                <span class="font-semibold text-kl-text"
                  >{{ job.salary_min }} - {{ job.salary_max }}
                </span>
              </div>
              <!-- <div class="flex flex-col  p-2 px-3 rounded-lg"> -->

              <div
                class="flex flex-col p-2 px-3 rounded-lg bg-[#2525000a] border border-transparent group-hover:border-red-500"
              >
                <span class="text-kl-muted text-lg">Vues</span>
                <span class="font-semibold text-kl-text">
                  {{ job.view_count }}
                </span>
              </div>

              <div
                class="flex flex-col p-2 px-3 rounded-lg bg-[#2525000a] border border-transparent group-hover:border-red-500"
              >
                <span class="text-kl-muted text-lg">Candidatures</span>
                <span class="font-semibold text-kl-text">
                  {{ job.application_count }}
                </span>
              </div>
            </div>

            <!-- FOOTER -->
            <div class="mt-6 flex items-center justify-between border-t pt-4">
              <span class="text-sm text-kl-muted">
                Publier {{ job.published_at | date: "short" }}</span
              >

              <app-button variant="primary"> Voir l'offre </app-button>
            </div>
          </div>
        }
      </div>
    </div>

    <!-- Disable button -->
    <div>
      <div>
        <button
          (click)="onPageChange(currentPage() - 1)"
          type="button"
          [disabled]="currentPage() === 1"
        >
          Précédent
        </button>
        <span>Page {{ currentPage() }} sur {{ totalPage() }}</span>
        <button
          (click)="onPageChange(currentPage() + 1)"
          type="button"
          [disabled]="currentPage() >= totalPage()"
        >
          Suivant
        </button>
      </div>
    </div>
  </section>
} @else {
  <app-loader>
    <mat-spinner></mat-spinner>
  </app-loader>
}
