<app-navbar-public />
<router-outlet />
<footer
  class="flex flex-col md:flex-row justify-around text-kl-zinc-900 p-5 bg-bg-footer"
>
  <div class="w-full max-w-md flex flex-col gap-2">
    <h3 class="font-semibold text-xl">Kay liguey</h3>
    <p>
      La première plateforme dédiée à l'excellence professionnelle au Sénégal.
      Nous bâtissons des ponts entre ambitions et opportunités.
    </p>
  </div>
  <div class="w-full max-w-md flex flex-col gap-2">
    <h3 class="uppercase font-semibold text-xl">lien rapide</h3>
    <a class="underline hover:text-kl-red-light" href>A propos</a>
    <a class="underline hover:text-kl-red-light" href>Terms of Service</a>
    <a class="underline hover:text-kl-red-light" href>Privacy Policy</a>
    <a class="underline hover:text-kl-red-light" href>Contact Support</a>
  </div>
  <div class="w-full max-w-md flex flex-col gap-2">
    <h3 class="uppercase font-semibold text-xl">Newsletter</h3>
    <p>Recever les meilleures offres d'emploi chaque semain</p>
    <form class="flex px-2 p-y3 flex-row justify-center items-center gap-3">
      <input
        placeholder="Entrer Votre email"
        class="w-full p-2 bg-input text-kl-muted outline-0 transition transform duration-600 ease-in-out border border-kl-border hover:border-amber-900 focus:border-kl-primary-red"
      />

      <!-- hover:kl-gost-border -->
      <app-button variant="primary"> inscrire </app-button>
    </form>
    <p class="mt-7">&copy; 2026 Kay Liguey. All rights reserved.</p>
  </div>
</footer>
