<div class="flex flex-col gap-1" placeholder="placeholder" label="forName">
  <label
    class="w-fit font-semibold text-md text-kl-text"
    for="{{ label_for() }}"
  >
    <ng-content [select]="label"></ng-content
  ></label>
  <div class="relative">
    <div
      class="absolute inset-y-0 left-0 p-3 flex items-center pointer-events-none"
    >
      <ng-content [select]="icon"></ng-content>
    </div>
    <input
      type="{{ type() }}"
      [class]="inputStyle()"
      class="bg-bg-input pl-10 w-full text-kl-muted border border-kl-border outline-0 text-lg transition duration-300 ease-in-out focus:border-kl-active"
      placeholder="{{ placeholder() }}"
    />
  </div>
</div>
