@import "tailwindcss";

@theme {
  /* ── Couleurs Kay Liguey ── */
  --color-kl-primary-red: #c0152a;
  --color-kl-primary-brand: #c0152a; /*For primary action*/
  --color-kl-secondary-dark: #97001b; /*hover, Icons*/

  --color-kl-secondary-red-dark: #96101f; /* //kl-red-dark */
  --color-kl-red-light: #e8354a;
  --color-kl-red-50: #fff5f5; /* color for text btn with bg red light*/
  --color-kl-red-100: #fcd0d0;
  --color-kl-red-200: #f9a8a8;

  --color-kl-bg: #f7f4f4;
  --color-kl-primary-brand-dark: #97001b; /**/

  /* Surface */
  --color-kl-surface-bg: #fbf8ff; /*Surface default*/
  --color-kl-surface-container-low: #f2f2fd; /* divider*/
  --color-kl-surface-container-height: #f2f2fd; /* input background*/
  --color-kl-surface-container-dark: #1a1b22; /* input background*/

  --color-kl-red-btn-hover: hsla(0, 16%, 96%, 0.643);
  --color-kl-text: #1a1a1a;
  --color-kl-muted: #6b6b6b; /* default text color with small text*/
  --color-kl-hint: #2c1d1d;

  /* Couleur button */
  --color-kl-border-red: #f4f4f46e;
  --color-kl-primary-trans: #f4f4f46e;

  /* ── Typographie ── */
  --font-sans: "DM Inter", system-ui, sans-serif;
  --font-display: "Syne", system-ui, sans-serif;
  --font-headline: "Manrope", system-ui, sans-serif;
  --font-kl-content: "Inter";
  --font-label: "Inter", system-ui, sans-serif;

  /* ── Border radius ── */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 14px;
  --radius-xl: 20px;
  --radius-default: 4px;

  /* --text-kl-display: "lg", // gross titre;
  --text-kl-headline: "md", // par ex. basé sur md;
  --text-kl-headline: "md", // par ex. basé sur md; */
}

/* ── Base globale ── */
@layer base {
  html,
  body {
    height: 100%;
    font-family: var(--font-sans);
    background-color: var(--color-kl-bg);
    color: var(--color-kl-text);
    -webkit-font-smoothing: antialiased;
  }
}

/* @layer components {
  .font-headline {
    font-family: var(--font-headline);
  }
} */

/* --- CUSTOM REUSE */
@layer components {
  .nav-link {
    @apply text-kl-muted font-headline font-semibold p-1 
           border-b-2 border-transparent 
           transition duration-150 ease-in-out hover:scale-110
           hover:text-kl-red-light hover:border-kl-red-light;
  }
}
