<div class="container mx-auto px-5">
  <!-- Header -->
  <!-- <div class="flex flex-col w-full"> -->
  <div class="w-full">
    <h3>Mes Candidatures</h3>
    <p>Suivez l'avancement de toutes vos candidatures en temps réel.</p>
  </div>

  <!-- CARDS ================================= -->

  <div class="mb-8 grid grid-cols-2 gap-4 md:grid-cols-4">
    <div
      class="card cursor-pointer border border-gray-100 bg-white shadow-md transition-shadow hover:shadow-lg"
    >
      <div class="card-body rounded-lg p-6">
        <div class="mb-2 flex items-center gap-2">
          <span class="h-3 w-3 rounded-full bg-red-700"></span>
          <h2 class="text-sm font-medium text-gray-500 uppercase">Statut</h2>
        </div>

        <p class="text-4xl font-bold text-gray-800">8</p>

        <p class="mt-2 text-sm text-gray-400">Total candidatures</p>
      </div>
    </div>

    <div
      class="card cursor-pointer border border-gray-100 bg-white shadow-md transition-shadow hover:shadow-lg"
    >
      <div class="card-body rounded-lg p-6">
        <div class="mb-2 flex items-center gap-2">
          <span class="h-3 w-3 rounded-full bg-red-700"></span>
          <h2 class="text-sm font-medium text-gray-500 uppercase">Statut</h2>
        </div>

        <p class="text-4xl font-bold text-gray-800">8</p>

        <p class="mt-2 text-sm text-gray-400">Total candidatures</p>
      </div>
    </div>

    <div
      class="card cursor-pointer border border-gray-100 bg-white shadow-md transition-shadow hover:shadow-lg"
    >
      <div class="card-body rounded-lg p-6">
        <div class="mb-2 flex items-center gap-2">
          <span class="h-3 w-3 rounded-full bg-red-700"></span>
          <h2 class="text-sm font-medium text-gray-500 uppercase">Statut</h2>
        </div>

        <p class="text-4xl font-bold text-gray-800">8</p>

        <p class="mt-2 text-sm text-gray-400">Total candidatures</p>
      </div>
    </div>

    <div
      class="card cursor-pointer border border-gray-100 bg-white shadow-md transition-shadow hover:shadow-lg"
    >
      <div class="card-body rounded-lg p-6">
        <div class="mb-2 flex items-center gap-2">
          <span class="h-3 w-3 rounded-full bg-red-700"></span>
          <h2 class="text-sm font-medium text-gray-500 uppercase">Statut</h2>
        </div>

        <p class="text-4xl font-bold text-gray-800">8</p>

        <p class="mt-2 text-sm text-gray-400">Total candidatures</p>
      </div>
    </div>
  </div>

  <!--  SEARCH BAR ================================= -->
  <div class="group relative flex w-full max-w-md items-center">
    <!-- Conteneur de l'icône (Positionné à gauche à l'intérieur) -->
    <div
      class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
    >
      <lucide-icon
        name="search"
        class="h-5 w-5 text-gray-400 transition-colors group-focus-within:text-[#C0152A]"
      ></lucide-icon>
    </div>

    <!-- L'Input -->
    <input
      type="search"
      placeholder="Rechercher une application..."
      class="block w-full rounded-xl border border-gray-200 bg-gray-50 py-2.5 pr-3 pl-10 text-sm text-gray-900 transition-all duration-200 outline-none focus:border-[#C0152A] focus:bg-white focus:ring-2 focus:ring-[#C0152A]/20"
      aria-label="Search"
    />
  </div>

  <!-- APPLICATIONN CARD -->
  <div class="mt-5 grid">
    <div
      class="group card hover:border-kl-border-hover w-full cursor-pointer space-y-7 rounded-md border border-transparent bg-white p-3 transition-all duration-300 shadow-md hover:shadow-xl"
    >
      <div class="flex gap-3">
        <span class="logo_style_min">W</span>

        <div class="flex w-full flex-col">
          <div class="flex w-full justify-between">
            <h3>Job name</h3>
            <p>Entretien prevue</p>
          </div>

          <div class="flex justify-between">
            <div class="flex text-kl-muted space-x-2">
              <small class="text-xs">Wave senegal </small>
              <small class="text-xs">Dakar </small>
              <small class="text-xs">Remote </small>
              <small class="text-xs">Freelance</small>
            </div>

            <div><p>publie le 16 avril</p></div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <!-- Si ENtretien planifier  affichier .....-->

        <!--   Job Skill-->

        <div>
          <div class="flex justify-between">
            <div class="mx-5 flex gap-4">
              <p>Figma</p>
              <p>Adobe XD</p>
              <p>CV joint</p>
            </div>

            <div
              class="hidden space-x-4 group-hover:block transition-all duration-300 md:ml-6"
            >
              <a routerLink="offer/id_x">Voir l'offre</a>
              <a routerLink="#" class="text-kl-text-red">Retirer</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
