<div class="container mx-auto px-5">
  <!-- Header -->
  <div class="flex flex-col">
    <h3>Mes Candidatures</h3>
    <p>Suivez l'avancement de toutes vos candidatures en temps réel.</p>
  </div>
  <!-- CARDS -->

  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-8">
<div
  class="kpi-card cursor-pointer hover:border-[#C0152A] transition-colors"
>
  <mat-card class="p-4">
    <mat-card-header class="flex items-center gap-2 mb-2">
      <!-- Dot bi -->
      <span class="h-3 w-3 rounded-full bg-[#C0152A]"></span>
      <!-- Binde bi -->
      <mat-card-title class="text-sm font-medium text-gray-600">Statut</mat-card-title>
    </mat-card-header>

    <mat-card-content class="text-3xl font-bold py-2">
      3
    </mat-card-content>

    <mat-card-footer class="px-4 pb-4 text-gray-500 text-sm">
      Total envoyées
    </mat-card-footer>
  </mat-card>
</div>


<div
  class="kpi-card cursor-pointer hover:border-[#C0152A] transition-colors"
>
en 
</div>


  </div>
</div>
